name: custom_tv_text_field
description: A premium, TV-optimized custom text field and keyboard for Flutter applications. Support for remote control navigation, automated validation, and smooth animations.
version: 1.0.0
homepage: https://github.com/dhruvrawal/custom_tv_text_field

environment:
  sdk: '>=3.10.3 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
